<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
        <add key="local-gamelibs" value="/Users/sipgatejj/.personal/hk/localfeed"/>
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*"/>
        </packageSource>
        <packageSource key="local-gamelibs">
            <package pattern="HollowKnight.GameLibs"/>
        </packageSource>
    </packageSourceMapping>
</configuration>
